metrics_enabled: false
debug: true
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - org.skife
    - xx-responses
    - com.hello

common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

insights_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

# to allow queries with clocks out of sync
# 12 * 3600s = 43200 sec -> 12h window
allowed_query_range_seconds: 43200

sleep_sound_cache_seconds: 5
sleep_sound_duration_cache_seconds: 5

server:
  adminMinThreads: 1
  adminMaxThreads: 64
  adminContextPath: /
  applicationContextPath: /
  applicationConnectors:
    - type: http
      port: 9999
  adminConnectors:
    - type: http
      port: 9998
  requestLog:
    timeZone: UTC
    appenders:
      - type: console
#      - type: file
#        currentLogFilename: ./log/suripu-app/suripu-app-access.log
#        threshold: ALL
#        archive: true
#        archivedLogFilenamePattern: ./log/suripu-app/suripu-app-%d{yyyy-MM-dd}.log.gz
#        archivedFileCount: 7

logging:
  level: INFO
  loggers:
    com.hello.suripu.app: INFO
    com.hello.suripu.core: DEBUG
    com.amazonaws: WARN
  appenders:
     - type: console

score_threshold : 15 # minutes bucket for sleep-scores

push_notifications:
  arns:
    ios: arn:aws:sns:us-east-1:053216739513:app/APNS/hello-sense-ios-dev
    android: arn:aws:sns:us-east-1:053216739513:app/GCM/hello-sense-android-dev

  table_name: notifications #deprecate later

messeji_http_client:
  endpoint: "http://internal-messeji-prod-internal-510481854.us-east-1.elb.amazonaws.com:80"
  http_client_config:
    keepAlive: 0s

taimurain_http_client:
  endpoint: http://internal-taimurain-230356525.us-east-1.elb.amazonaws.com:80
  http_client_config:
    keepAlive: 0s
    timeout: 10000ms

question_configs:
  num_skips : 5

timeline_algorithm_configuration:
  artificial_light_start_time: "21:30"
  artificial_light_stop_time: "05:00"

# store sleep scores and other stats
# v0.2: score uses movement and duration
sleep_stats_version: v_0_2
sleep_score_version: v_0_1

max_cache_refresh_days: 20

timeline_model_ensembles:
  bucket: hello-timeline-models
  key: normal4ensemble.base64

timeline_seed_model:
  bucket: hello-timeline-models
  key: normal4.base64

email:
   api_key: XnAIQfmDpMYIapDWGigfwA
   link_host: https://account.hello.is/password_update

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data
    logs : logs

rate_limiter:
  tokens_allowed_per_second: 5

photo_upload:
  bucket_name: hello-accounts
  profile_prefix: photos/profile/
  max_upload_size_bytes: 5120000 # 5MB

dynamodb:
  region: us-east-1
  tables:
    alarm: alarm
    alarm_info: alarm_info
    algorithm_test: algorithm_test
    app_stats: app_stats
    calibration: calibration
    device_data: sense_data
    feature_extraction_models: feature_extraction_models
    features: features
    file_manifest: file_manifest
    insights: insights
    marketing_insights_seen: marketing_insights_seen
    notifications: notifications
    online_hmm_models: online_hmm_models
    ota_history: ota_history
    password_reset: password_reset
    pill_data: pill_data
    pill_heartbeat: pill_heartbeat
    pill_key_store: pill_key_store
    preferences: preferences
    push_notification_event: push_notification_event
    ring_time: ring_time
    ring_time_history: ring_history_by_account
    sense_events: event
    sense_key_store: key_store
    sense_last_seen: sense_last_seen
    sense_state: sense_state
    sleep_hmm: sleephmm
    sleep_score: sleep_score
    sleep_stats: sleep_stats
    smart_alarm_log: smart_alarm_log
    sync_response_commands: response_commands
    teams: teams
    timeline: timeline
    timeline_log: timeline_log
    timezone_history: timezone_history
    wifi_info: wifi_info
  endpoints:
    alarm: http://localhost:7777
    alarm_info: http://localhost:7777
    app_stats: http://localhost:7777
    calibration: http://localhost:7777
    device_data: http://localhost:7777
    feature_extraction_models: http://localhost:7777
    features: http://localhost:7777
    file_manifest: http://localhost:7777
    insights: http://localhost:7777
    online_hmm_models: http://localhost:7777
    password_reset: http://localhost:7777
    pill_data: http://localhost:7777
    pill_heartbeat: http://localhost:7777
    pill_key_store: http://localhost:7777
    preferences: http://localhost:7777
    push_notification_event: http://localhost:7777
    ring_time_history: http://localhost:7777
    sense_key_store: http://localhost:7777
    sense_last_seen: http://localhost:7777
    sleep_hmm: http://localhost:7777
    sense_state: http://localhost:7777
    sleep_stats: http://localhost:7777
    timeline: http://localhost:7777
    timeline_log: http://localhost:7777
    timezone_history: http://localhost:7777
    wifi_info: http://localhost:7777
