metrics_enabled: false
debug: true
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - org.skife
    - xx-responses
    - com.hello
    - is.hello
    - jvm.gc


common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

insights_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

# to allow queries with clocks out of sync
# 12 * 3600s = 43200 sec -> 12h window
allowed_query_range_seconds: 43200

sleep_sound_cache_seconds: 5
sleep_sound_duration_cache_seconds: 5

server:
  adminMinThreads: 1
  adminMaxThreads: 64
  adminContextPath: /
  applicationContextPath: /
  applicationConnectors:
    - type: http
      port: 9999
  adminConnectors:
    - type: http
      port: 9998
  requestLog:
    appenders:
      - type: console
#      - type: file
#        currentLogFilename: ./log/suripu-app/suripu-app-access.log
#        threshold: ALL
#        archive: true
#        archivedLogFilenamePattern: ./log/suripu-app/suripu-app-%d{yyyy-MM-dd}.log.gz
#        archivedFileCount: 7

logging:
  level: INFO
  loggers:
    com.hello.suripu.app: INFO
    com.hello.suripu.core: DEBUG
    com.amazonaws: WARN
  appenders:
     - type: console

score_threshold : 15 # minutes bucket for sleep-scores

push_notifications:
  arns:
    ios: arn:aws:sns:us-east-1:053216739513:app/APNS/hello-sense-ios-dev
    android: arn:aws:sns:us-east-1:053216739513:app/GCM/hello-sense-android-dev

  table_name: notifications #deprecate later

messeji_http_client:
  endpoint: "http://internal-messeji-prod-internal-510481854.us-east-1.elb.amazonaws.com:80"
  http_client_config:
    keepAlive: 0s

taimurain_http_client:
  endpoint: http://internal-taimurain-230356525.us-east-1.elb.amazonaws.com:80
  http_client_config:
    keepAlive: 0s
    timeout: 10000ms

question_configs:
  num_skips : 5

timeline_algorithm_configuration:
  artificial_light_start_time: "21:30"
  artificial_light_stop_time: "05:00"

# store sleep scores and other stats
# v0.2: score uses movement and duration
sleep_stats_version: v_0_2
sleep_score_version: v_0_1
agg_stats_version: v_0_1

max_cache_refresh_days: 20

timeline_model_ensembles:
  bucket: hello-timeline-models
  key: normal4ensemble.base64

timeline_seed_model:
  bucket: hello-timeline-models
  key: normal4.base64

email:
   api_key: XnAIQfmDpMYIapDWGigfwA
   link_host: https://account.hello.is/password_update

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data
    logs : logs

rate_limiter:
  tokens_allowed_per_second: 5

photo_upload:
  bucket_name: hello-accounts
  profile_prefix: photos/profile/
  max_upload_size_bytes: 5120000 # 5MB

keys_management_service:
  endpoint: https://kms.us-east-1.amazonaws.com
  keys:
    uuid: arn:aws:kms:us-east-1:053216739513:key/1c60acdc-0628-4f8f-8fbc-f1cacb59a845 # audio_uuid_dev
    token: arn:aws:kms:us-east-1:053216739513:key/9ab23bc3-1b49-4f02-a951-a9d97ca906bc # external app tokens
    audio: arn:aws:kms:us-east-1:053216739513:key/65d9a27f-e6cc-4456-a2ac-31739ea6da22 # audio_upload_dev

dynamodb:
  region: us-east-1
  tables:
    agg_stats: agg_stats
    alarm: alarm
    alarm_info: alarm_info
    algorithm_test: algorithm_test
    app_stats: app_stats
    analytics_tracking: analytics_tracking
    calibration: calibration
    device_data: sense_data
    feature_extraction_models: feature_extraction_models
    features: features
    file_manifest: file_manifest
    insights: insights
    insights_last_seen: insights_last_seen
    marketing_insights_seen: marketing_insights_seen
    notifications: notifications
    online_hmm_models: online_hmm_models
    ota_history: ota_history
    password_reset: password_reset
    pill_data: pill_data
    pill_heartbeat: pill_heartbeat
    pill_key_store: pill_key_store
    preferences: preferences
    profile_photo: profile_photo
    push_notification_event: push_notification_event
    ring_time: ring_time
    ring_time_history: ring_history_by_account
    sense_events: event
    sense_key_store: key_store
    sense_last_seen: sense_last_seen
    sense_state: sense_state
    sleep_hmm: sleephmm
    sense_metadata: sense_metadata
    sleep_score: sleep_score
    sleep_score_parameters: sleep_score_parameters
    sleep_stats: sleep_stats
    smart_alarm_log: smart_alarm_log
    speech_commands: speech_commands
    speech_results: speech_results
    speech_timeline: speech_timeline
    swap_intents: swap_intents
    sync_response_commands: response_commands
    teams: teams
    timeline: timeline
    timeline_log: timeline_log
    timezone_history: timezone_history
    wifi_info: wifi_info
  endpoints:
    agg_stats: http://localhost:7777
    alarm: http://localhost:7777
    alarm_info: http://localhost:7777
    algorithm_test: http://localhost:7777
    analytics_tracking: http://localhost:7777
    app_stats: http://localhost:7777
    calibration: http://localhost:7777
    device_data: http://localhost:7777
    feature_extraction_models: http://localhost:7777
    features: http://localhost:7777
    file_manifest: http://localhost:7777
    insights: http://localhost:7777
    insights_last_seen: http://localhost:7777
    marketing_insights_seen: http://localhost:7777
    notifications: http://localhost:7777
    online_hmm_models: http://localhost:7777
    ota_history: http://localhost:7777
    password_reset: http://localhost:7777
    pill_data: http://localhost:7777
    pill_heartbeat: http://localhost:7777
    pill_key_store: http://localhost:7777
    preferences: http://localhost:7777
    profile_photo: http://localhost:7777
    push_notification_event: http://localhost:7777
    ring_time_history: http://localhost:7777
    sense_key_store: http://localhost:7777
    sense_last_seen: http://localhost:7777
    sleep_hmm: http://localhost:7777
    sense_metadata: http://localhost:7777
    sense_state: http://localhost:7777
    sleep_score: http://localhost:7777
    sleep_score_parameters: http://localhost:7777
    sleep_stats: http://localhost:7777
    smart_alarm_log: http://localhost:7777
    speech_commands: http://dynamodb.us-east-1.amazonaws.com
    speech_results: http://localhost:7777
    speech_timeline: http://localhost:7777
    swap_intents: http://localhost:7777
    sync_response_commands: http://localhost:7777
    teams: http://localhost:7777
    timeline: http://localhost:7777
    timeline_log: http://localhost:7777
    timezone_history: http://localhost:7777
    wifi_info: http://localhost:7777

alexa_app_ids:
  hello_dev: amzn1.echo-sdk-ams.app.2bb48848-e785-4e9c-9e5f-6165d0ef6963
  josef_dev: amzn1.echo-sdk-ams.app.48296311-bcd4-4221-9608-390dee8ca111

expansions:
  hue_app_name: sense-dev

s3_endpoint: https://s3.dualstack.us-east-1.amazonaws.com  # for kms

speech:
  google_api_host: speech.googleapis.com
  google_api_port: 443

  audio_parameters:
    interim_results_preference: false
    encoding: LINEAR16 # [ENCODING_UNSPECIFIED, LINEAR16, FLAC, MULAW, AMR, AMR_WB, UNRECOGNIZED]
    buffer_size: 6400 # play around with this (100ms of audio at 16K SR)

  watson:
    username: ce487881-c6f6-45cf-8aa5-585554de4941
    password: 8riFzRbKOd4c
    voice: en-US_AllisonVoice
    #voice: en-US_MichaelVoice

  watson_save_audio:
    s3_bucket_name: hello-audio
    s3_audio_prefix_raw: voice/watson-text2speech/raw
    s3_audio_prefix: voice/watson-text2speech/16keq # bucket with responses sent back to Sense

  forecastio: 69ae5412a3a9bfc16a07ce05f6c7c5a5

  kinesis_producer:
    endpoint: https://kinesis.us-east-1.amazonaws.com
    region: us-east-1
    max_connections: 1
    request_timeout: 5000 # 1 sec
    record_max_buffered_time: 2000
    queue_size: 65536
    streams:
     speech_result: dev_speech_results

  sense_upload_audio:  # bucket to save audio uploaded from Sense
    s3_bucket_name: hello-voice-upload-dev
    s3_audio_prefix: sense_1_5
